@import "../variables";
@import "../mixins/media_queries";

footer {
  background: $primary-bold;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #559fac;
    top: 410px;
    position: absolute;

    @include breakpoint(tablet) {
      top: 230px;
    }

    @include breakpoint(mobile) {
      top: 260px;
    }
  }

  .footer_top {
    height: 414px;
    margin: 0 calc(20% - 139.2px);
    display: flex;
    justify-content: space-between;
    position: relative;

    @include breakpoint(tablet) {
      height: 229px;
      margin: 34px calc(14px + 3.3%) 0;
      display: block;
      justify-content: unset;
    }

    @include breakpoint(mobile) {
      margin: 23px 10px 0 16px;
      height: 260px;
      display: block;
    }

    .footer_logo {
      padding-top: 69.61px;

      @include breakpoint(tablet) {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &__footer-logo {
        margin-bottom: 48px;

        @include breakpoint(tablet) {
          height: 32px;
        }
      }

      .eye-block {
        display: flex;
        cursor: pointer;

        @include breakpoint(tablet) {
          display: none;
        }

        &__eye-footer {
          margin-right: 13px;
        }

        &__text {
          font-family: "Myriad Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $white;
        }
      }
    }

    .footer_socials {
      display: none;
      margin-top: -10px;

      a {
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
      @include breakpoint(tablet) {
        display: block;
      }

      @include breakpoint(mobile) {
        position: absolute;
        top: 200px;
        left: 0px;
      }
    }

    .mobile-text {
      display: none;
      font-family: "Myriad Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      max-width: 452px;

      @include breakpoint(tablet) {
        display: block;
      }

      @include breakpoint(mobile) {
        max-width: 100%;
        position: absolute;
        top: 100px;
        left: 0px;
      }
    }

    .footer_patients,
    .footer_about,
    .footer_contacts {
      padding-top: 64px;
      display: flex;
      flex-direction: column;

      @include breakpoint(tablet) {
        display: none;
      }

      h2 {
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: $white;
        margin-bottom: 16px;
      }

      ul {
        list-style-type: none;

        li {
          margin-bottom: 16px;

          a {
            font-family: "Myriad Pro", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;

            text-decoration: none;
            color: $white;
            opacity: 0.72;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .footer_contacts {
      margin-right: 0;

      a {
        text-decoration: none;
        display: flex;

        &:hover {
          opacity: 0.72;
        }
      }

      .footer_phone-title {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $white;
        opacity: 0.72;
      }
      .footer_phone {
        text-decoration: none;
        color: $white;
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2px;

        .added-numbers {
          font-weight: normal;
        }

        .primary-numbers {
          font-weight: 600;
        }
      }

      .offer-call {
        width: 120px;
        color: $white;

        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        border-bottom: 2px dotted currentColor;
        cursor: pointer;
        margin-bottom: 24px;
      }

      .message-title {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $white;
        opacity: 0.72;
        margin-left: 30px;
      }

      .message-block {
        display: flex;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          margin-right: 6px;
        }

        p {
          font-family: "Myriad Pro", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: $white;
        }
      }
    }
  }

  .bottom {
    height: 102px;
    margin: 21.97px calc(20% - 139.2px) 0;
    padding-bottom: 20px;
    background: $primary-bold;
    display: flex;

    @include breakpoint(tablet) {
      height: 52px;
      margin: 21.97px calc(14px + 3.3%) 0;
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      height: 78px;
      margin: 21.97px 10px 0 16px;
    }

    &__logo-block {
      margin-right: 30px;

      @include breakpoint(tablet) {
        margin-right: 0;
      }
      p {
        margin-right: 30px;

        @include breakpoint(tablet) {
          margin-right: 40px;
        }

        @include breakpoint(mobile) {
          margin-top: 10px;
          margin-bottom: 4px;
        }
      }

      img {
        @include breakpoint(tablet) {
          display: none;
        }
      }
    }

    &__privacy {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-right: auto;

      a:first-child {
        margin-bottom: 6px;

        @include breakpoint(tablet) {
          margin-bottom: 12px;
        }

        @media screen and (max-width: 677px) {
          margin-bottom: -2px;
        }
      }

      a:last-child {
        @include breakpoint(tablet) {
          display: none;
        }
      }
    }

    .footer_socials {
      display: flex;
      align-self: center;

      @include breakpoint(tablet) {
        display: none;
      }

      a {
        opacity: 1;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p,
    a {
      font-family: "Myriad Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      opacity: 0.72;
      color: $white;
      text-decoration: none;
    }

    a:hover {
      opacity: 1;
    }

    &__logo {
      margin-bottom: 12px;
    }
  }
}
