$primary: #00a7b5;
$primary-bold: #2e8899;
$white: #ffffff;
$secondary: #959595;
$orange: #f08646;
$orange-active: #e45b26;
$dark: #171d20;

$itemlist: #fefefe;
$submenutext: #58595b;
$hoveritemlist: #ecf7f9;
$input-background: #f1f9fa;
$mobile-background: #f9fdfd;
