@import "./variables";
@import "./mixins/media_queries";

.container {
  margin: 41px calc(20% - 139.2px) 0;
  padding-top: 231px;
  overflow: visible;

  @include breakpoint(tablet) {
    padding-top: 130px;
    margin: 34px calc(14px + 3.3%);
  }

  @include breakpoint(mobile) {
    margin: 23px 10px 0 10px;
  }
}
