@import "./variables";
@font-face {
  font-family: "Gotham Pro light";
  src: url("../fonts/gotham_pro/gothampro_light.ttf");
}

@font-face {
  font-family: "Gotham Pro bold";
  src: url("../fonts/gotham_pro/gothampro_bold.ttf");
}

@font-face {
  font-family: "Gotham Pro medium";
  src: url("../fonts/gotham_pro/gothampro_medium.ttf");
}
