@import "./_variables";
@import "./fonts";
@import "./mixins/media_queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  height: 208px;
  background: $white;
  box-shadow: 0px 4px 24px rgba(46, 136, 153, 0.08);
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -42px;

  @include breakpoint(tablet) {
    height: 148px;
  }

  // разделяющая линия между авторизацией и блоком с логотипом
  .border_block {
    border: 0.5px solid $primary;
    mix-blend-mode: multiply;
    height: 0.5px;
    opacity: 0.24;
  }

  @media screen and (max-width: 992px) {
    .border_block {
      display: none;
    }
  }
  .block {
    background: white;

    @include breakpoint(tablet) {
      padding-bottom: 15px;
    }
  }
}

.lab-header.large {
  transition: all 0.3s;
  height: 96px;

  .top-info {
    visibility: hidden;
    height: 0;
    margin-top: -10px;
    transition: all 0.3s;
  }
  .bottom_info {
    visibility: hidden;
    height: 0;
    margin-top: -150px;
    transition: all 0.5s;
  }

  &:hover > div > .top-info {
    margin-top: 7px !important;
    height: 40px !important;
    visibility: visible !important;
    transition: all 0.3s ease 0s !important;
  }

  &:hover > div > .bottom_info {
    margin-top: 0px !important;
    height: 80px !important;
    visibility: visible !important;
  }

  &:hover {
    height: 168px !important;
  }
}

.lab-header.md {
  height: 96px;

  .bottom_info {
    visibility: hidden;
    height: 0;
    margin-top: -150px;
    transition: all 0.5s;
  }
}

.lab-header.small {
  height: 90px;

  .bottom_info {
    visibility: hidden;
    height: 0;
    margin-top: -150px;
    transition: all 0.5s;
  }
}
