@import "./_variables";
@import "./fonts";
@import "./mixins/media_queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  height: 208px;
  background: $white;
  box-shadow: 0px 4px 24px rgba(46, 136, 153, 0.08);
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    height: 132px;
  }

  // разделяющая линия между авторизацией и блоком с логотипом
  .border_block {
    border: 0.5px solid $primary;
    mix-blend-mode: multiply;
    height: 0.5px;
    opacity: 0.24;
  }

  @media screen and (max-width: 992px) {
    .border_block {
      display: none;
    }
  }
}
