@import "./header.scss";
@import "./variables";

html {
  background: white;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: $hoveritemlist;
  scrollbar-color: $primary-bold;
  scrollbar-width: 2px;
  overflow-x: auto;
}

body.lock {
  overflow: hidden;
}
