@import "../variables";
@import "../mixins/media_queries";

body {
  @include breakpoint(tablet) {
    background: $white;
  }
}

.container {
  @include breakpoint(tablet) {
    margin: 34px 40px 34px 41px;
  }

  @include breakpoint(beforemobile) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.search-result__title {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: $dark;
  margin-bottom: 32px;

  @include breakpoint(tablet) {
    font-size: 24px;
    line-height: 34px;
    margin-left: 28px;
  }

  @include breakpoint(beforemobile) {
    margin-left: 0;
  }
}

.filter-block {
  width: 100%;
  display: flex;
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $submenutext;
  margin-bottom: 16px;

  @include breakpoint(tablet) {
    display: none;
  }

  .css-319lph-ValueContainer {
    min-width: 183px;
    height: 100%;

    input {
      height: 100%;
    }
  }

  .css-b62m3t-container {
    margin-right: 8px;
  }
  .css-1pahdxg-control,
  .css-1pahdxg-control:hover {
    border-color: $primary;
    box-shadow: 0 0 0 1px $primary;
    height: 40px;
  }

  .css-1s2u09g-control {
    height: 40px;
  }

  &__title {
    align-self: center;
    margin-right: 24px;
  }

  input {
    font-family: "Myriad Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $submenutext;

    padding: 8px 12px;
    border: 0;
    margin-right: 8px;
    width: 183px;
    height: 40px;
  }

  .department-search {
    cursor: pointer;
  }
}

.filter-separator {
  background: $primary-bold;
  opacity: 0.08;
  margin-bottom: 24px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.search-services {
  height: auto;
  background: $white;
  max-width: 852px;
  margin-bottom: 40px;
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 40px;

    &_left-block {
      display: flex;
      align-items: center;

      .menu-block {
        display: flex;
        margin-right: 20px;
        cursor: pointer;
        height: 100%;

        &.active {
          border-bottom: 2px solid $orange;

          .title {
            font-family: "Gotham Pro bold", sans-serif;
            color: $dark;
          }
        }
      }
      .title {
        font-family: "Gotham Pro ", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;

        margin-right: 8px;
        color: $secondary;

        @include breakpoint(tablet) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .doctors-counter {
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;

        color: $secondary;

        @include breakpoint(tablet) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &_right-block {
      .all-doctors {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: $primary;
        text-decoration: none;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  .search-services__separator {
    margin-bottom: 16px;
    background: $primary-bold;
    opacity: 0.08;
  }

  .doctor-card {
    width: 100%;
    background: $hoveritemlist;
    margin-bottom: 8px;
    display: flex;

    justify-content: space-between;

    position: relative;

    &:hover {
      background: #cbe7eb;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .doctor-image {
      margin: 17.87px 0 9.33px 9.33px;
      object-fit: contain;

      @include breakpoint(tablet) {
        margin-right: 17.87px;
      }

      @include breakpoint(beforemobile) {
        width: 126.93px;
        height: 123.2px;
        margin-left: 28px;
      }
    }

    .doctor-regard {
      width: 40px;
      height: 46px;
      margin-right: 24px;
      z-index: 1;

      @include breakpoint(beforemobile) {
        position: absolute;
        top: 0;
        right: 10px;
      }
    }

    .doctor-regard:hover ~ div {
      display: block;
    }

    .right-block {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;

      @include breakpoint(beforemobile) {
        display: flex;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
      }
    }

    .hover-info {
      display: none;

      width: 220px;
      height: 64px;
      position: absolute;
      top: 47px;
      right: -62px;
      box-shadow: 0px 4px 16px rgba(83, 97, 106, 0.08);

      background: $itemlist;
      padding: 12px;

      span {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: $submenutext;
      }

      .triangle {
        position: absolute;
        top: -7px;
        right: 98px;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7.5px 7.5px 7.5px;
        border-color: transparent transparent #fff transparent;

        z-index: 2;
      }
    }

    .more {
      margin-right: 24px;
      margin-bottom: 20px;

      text-decoration: none;

      @include breakpoint(beforemobile) {
        align-self: baseline;
        margin-left: 28px;
      }
    }

    .doctor-text {
      display: flex;
      flex-direction: column;
      max-width: 497px;

      &__doctor-name {
        font-family: "Gotham Pro bold", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;

        width: fit-content;

        padding: 4px 8px;
        background: rgba(254, 254, 254, 0.64);
        margin-top: 20px;
        margin-bottom: 12px;

        @include breakpoint(tablet) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      &__qualification {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: $searchqualification;
        margin-bottom: 10px;

        @include breakpoint(tablet) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      &__appointment {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;

        color: $searchqualification;
        opacity: 0.7;
        margin-bottom: 24px;
        margin-right: 20px;

        @include breakpoint(tablet) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      @include breakpoint(beforemobile) {
        margin-left: 28px;
      }
    }

    @include breakpoint(beforemobile) {
      flex-direction: column;
    }
  }

  .service-card {
    background: $hoveritemlist;
    margin-bottom: 8px;
    min-height: 146px;

    &:hover {
      background: #cbe7eb;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .service-top {
    display: flex;

    margin-bottom: 12px;

    .wrapper {
      background: rgba(254, 254, 254, 0.64);
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 8px 20px 10px 20px;

      @include breakpoint(mobile) {
        flex-direction: column;
      }
    }

    &__service-title {
      font-family: "Gotham Pro bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $dark;

      margin-right: 20px;

      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 22px;
      }

      @include breakpoint(mobile) {
        margin-bottom: 12px;
      }
    }

    &__service-price {
      font-family: "Gotham Pro bold", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: $searchqualification;
      min-width: 73px;

      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .service-bottom {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .service-location {
      display: flex;
    }

    img {
      margin-right: 25.25px;
      align-self: flex-start;

      @include breakpoint(mobile) {
        margin-right: 12px;
      }
    }

    .clinics {
      display: flex;
      flex-direction: column;

      span {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: $submenutext;

        @include breakpoint(tablet) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      @include breakpoint(mobile) {
        margin-bottom: 12px;
      }
    }

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }
  .more {
    align-self: self-end;
    font-family: "Myriad Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $primary;

    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }

    @include breakpoint(tablet) {
      font-size: 14px;
      line-height: 22px;
    }

    @include breakpoint(mobile) {
      align-self: baseline;
    }
  }

  @include breakpoint(tablet) {
    max-width: 100%;
  }

  @include breakpoint(beforemobile) {
    padding: 0;
  }
}

.pagination {
  margin-bottom: 104px;
  max-width: 852px;
  height: 40px;
  display: flex;
  justify-content: center;

  @include breakpoint(tablet) {
    display: none;
  }

  .pagination-container {
    button,
    span {
      padding: 8px 15.5px;
      border: 0;
      background: $hoveritemlist;

      font-family: "Myriad Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;

      color: $paginationlist;
      cursor: pointer;
    }

    button:hover {
      background: $searchhover;
    }

    button.current-page {
      background: $searchhover;
    }
  }
}
