@import "../variables";
@import "../mixins/media_queries";
@import "../fonts.scss";

.benefits {
  display: flex;
  justify-content: space-between;
  height: 108px;
  width: 100%;
  font-family: "Myriad Pro", sans-serif;
  margin-top: 64px;

  @include breakpoint(tablet) {
    margin: 29px 0px;
    height: 40px;
  }

  @include breakpoint(mobile) {
    height: 100%;
    margin: 29px 0px 21px;
  }

  & > div {
    display: flex;

    @include breakpoint(mobile) {
      flex-direction: column;
      width: 90px;
    }

    img {
      width: 48px;
      height: 48px;
      margin-right: 15px;

      @include breakpoint(tablet) {
        width: 39px;
        height: 42px;
        margin-right: 8px;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    max-width: 298px;

    @include breakpoint(tablet) {
      margin-top: 10px;
    }

    @include breakpoint(mobile) {
      margin-top: 7px;
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      color: $dark;

      @include breakpoint(tablet) {
        font-size: 12.6px;
      }

      @include breakpoint(mobile) {
        line-height: 22px;
        font-family: "Myriad Pro", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 14.9px;
      line-height: 24px;
      color: $submenutext;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }
}
