@import "../mixins/media_queries";

.popular-services-mobile {
  display: none;

  @include breakpoint(tablet) {
      display: block;
  }
}

.popular-services-mobile {
  .swiper-slide {
    width: 200px;
    height: 156px;
  }

  .popular-services-item > div p.dotted-price {
    top: 14px;
    right: 14px;
  }

  .popular-services-item > div p.price {
    top: 34px;
    right: 14px;
  }

  .popular-services-item-text {
      top: 100px;
      font-family: "Gotham Pro", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
  }

  .popular-services-item > div .popular-services-item-hovered-title {
    font-size: 16px;
    line-height: 14px;
    top: 100px;
    padding: 0 24px;
  }

  .popular-services-item > div .popular-services-item-hovered-title ~ p {
    font-size: 16px;
    line-height: 14px;
    top: 130px;
    padding: 0 36px 0 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
  }

    margin-bottom: 20px;
}
