@import "../variables";
@import "../mixins/media_queries";
@import "./swiper-bundle.css";
@import "./swiper.min.css";
// @import "./swiper-bundle.min.css";
// @import "./swiper.min.css";

.popular {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;

  .popular-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 32px;

    &__title {
      font-size: 26px;
      line-height: 36px;
      font-weight: bold;

      @include breakpoint(tablet) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &__category-link {
      font-family: "Myriad Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      color: $primary;

      &:hover {
        opacity: 0.5;
      }

      @include breakpoint(mobile) {
        margin-top: 2px;
      }
    }
  }
}

.popular-services {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  grid-template-areas:
    "first   second   third"
    "fourth     fifth     third"
    "six   seven   eight"
    "nine   ten    eight";

  &-item {
    width: 100%;
    height: 216px;
    background: white;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;
    cursor: pointer;

    .block-wrapper {
      width: 100%;
      height: 100%;
      transition: 0.6s;
      clip-path: circle(2% at 50px 50px);
      overflow: hidden;
      z-index: -20;
      background: $primary-bold;
    }

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 24px;
      width: 56px;
      height: 56px;
      background: $primary;
      border-radius: 50%;
      z-index: 100;
    }

    &:hover > div {
      transition: all 0.6s;
      clip-path: circle(140% at 24px 24px);
    }

    &:hover .popular-services-item-hovered {
      transition: .9s;
      display: block;
      opacity: 1;

    }

    &:hover::before {
      background: $white;
      transition: 0.7s;
    }

    &:hover::after {
      filter: invert(52%) sepia(77%) saturate(4198%) hue-rotate(155deg) brightness(95%) contrast(101%);
    }

    &:first-child {
      grid-area: first;
    }
    &:nth-child(2) {
      grid-area: second;
    }
    &:nth-child(3) {
      grid-area: third;
      height: 100%;
    }
    &:nth-child(4) {
      grid-area: fourth;
    }
    &:nth-child(5) {
      grid-area: fifth;
    }
    &:nth-child(6) {
      grid-area: third;
      height: 100%;

      .popular-services-item-text {
        top: 360px;
      }
    }
    &:nth-child(7) {
      grid-area: six;
    }
    &:nth-child(8) {
      grid-area: seven;
    }
    &:nth-child(9) {
      grid-area: eight;
    }
    &:nth-child(10) {
      grid-area: nine;
    }
    &:nth-child(11) {
      grid-area: ten;
    }
    &:last-child {
      grid-area: eight;
      height: 100%;
      .popular-services-item-text {
        top: 360px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 200;
    }

    &:first-child::after {
      background-image: url("../../images/popular-first-icon.svg");
      top: 36px;
      left: 36px;
      width: 32px;
      height: 32px;
    }
    &:nth-child(2)::after {
      background-image: url("../../images/popular-second-icon.svg");
      top: 38px;
      left: 34px;
      width: 34px;
      height: 25.98px;
    }
    &:nth-child(6)::after {
      background-color: #fff;
      mask-image: url("../../images/popular-third-icon.svg");
      top: 39px;
      left: 38px;
      width: 26px;
      height: 25.98px;
    }
    &:nth-child(4)::after {
      background-image: url("../../images/popular-fourth-icon.svg");
      top: 36px;
      left: 35px;
      width: 34px;
      height: 32px;
    }
    &:nth-child(5)::after {
      background-image: url("../../images/popular-fifth-icon.svg");
      top: 35px;
      left: 38.2px;
      width: 25.98px;
      height: 32px;
    }
    &:nth-child(7)::after {
      background-image: url("../../images/popular-sixth-icon.svg");
      top: 42px;
      left: 37px;
      width: 32px;
      height: 22.3px;
    }
    &:nth-child(8)::after {
      background-image: url("../../images/popular-seventh-icon.svg");
      top: 35px;
      left: 37px;
      width: 30.69px;
      height: 34px;
    }
    &:nth-child(10)::after {
      background-image: url("../../images/popular-nine-icon.svg");
      top: 36px;
      left: 40.2px;
      width: 22.36px;
      height: 32px;
    }
    &:nth-child(11)::after {
      background-image: url("../../images/popular-ten-icon.svg");
      top: 38px;
      left: 35px;
      width: 31.97px;
      height: 32px;
    }
    &:last-child::after {
      background-image: url("../../images/popular-eight-icon.svg");
      top: 35px;
      left: 38px;
      width: 25.45px;
      height: 34px;
    }

    &-text {
      font-size: 18px;
      line-height: 26px;
      color: $primary-bold;
      font-weight: bold;
      position: absolute;
      top: 140px;
      padding: 0 24px;
    }

    &:nth-child(6),
    &:last-child {
      .popular-services-item-hovered-title {
        top: 333px !important;
        height: 100%!important;
      }
      .popular-services-item-hovered-subtitle {
        top: 385px!important;
        height: 100%!important;
      }

      @media screen and (max-width: 1120px) {
        .popular-services-item-hovered-title {
          top: 283px !important;
        }
        .popular-services-item-hovered-subtitle {
          top: 365px!important;
        }
      }
    }
  }

  .popular-services-item-hovered {
    transition: .4s;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    p.dotted-price {
      position: absolute;
      top: 24px;
      right: 24px;
      color: $white;
      font-size: 14px;
      line-height: 20px;
    }
    p.price {
      position: absolute;
      top: 44px;
      right: 24px;
      color: $white;
      font-size: 18px;
      line-height: 26px;
      font-weight: normal;
    }

    .popular-services-item-hovered-title {
      font-size: 18px;
      line-height: 26px;
      color: $white;
      font-weight: bold;
      position: absolute;
      top: 110px;
      padding: 0 24px;

      @media screen and (max-width: 1100px) {
        top: 90px;
      }

      & ~ p {
        font-size: 16px;
        line-height: 24px;
        color: $white;
        font-weight: normal;
        position: absolute;
        top: 160px;
        padding: 0 24px;

        @media screen and (max-width: 1100px) {
          top: 140px;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    display: none;
  }
}
