@import "../mixins/media_queries";
@import "../variables";

.popular-services-mobile {
  display: none;

  @include breakpoint(tablet) {
    display: block;
    height: 100%;
  }

  .popular-services-item-mobile {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      background: $primary-bold;
      border-radius: 50%;
      z-index: 100;
    }
  }
  .swiper-slide {
    width: 200px;
    height: 156px;
    background: $white;

    &::after {
      content: "";
      position: absolute;
      z-index: 200;
      top: 14px;
      left: 14px;
      transform: scale(0.8);
    }

    &:first-child::after {
      background-image: url("../../images/popular-first-icon.svg");
      top: 14px;
      left: 14px;
      width: 32px;
      height: 32px;
    }
    &:nth-child(2)::after {
      background-image: url("../../images/popular-second-icon.svg");
      left: 12px;
      top: 15px;
      width: 34px;
      height: 25.98px;
    }
    &:nth-child(3)::after {
      background-color: #fff;
      mask-image: url("../../images/popular-third-icon.svg");
      left: 16px;
      top: 17px;
      width: 26px;
      height: 25.98px;
    }
    &:nth-child(4)::after {
      background-image: url("../../images/popular-fourth-icon.svg");
      left: 12px;
      top: 15px;
      width: 34px;
      height: 34px;
    }
    &:nth-child(5)::after {
      background-image: url("../../images/popular-fifth-icon.svg");
      left: 16px;
      top: 14px;
      width: 25.98px;
      height: 32px;
    }
    &:nth-child(6)::after {
      background-image: url("../../images/popular-sixth-icon.svg");
      left: 14px;
      top: 20px;
      width: 32px;
      height: 22.3px;
    }
    &:nth-child(7)::after {
      background-image: url("../../images/popular-seventh-icon.svg");
      left: 16px;
      top: 12px;
      width: 32px;
      height: 36px;
    }
    &:nth-child(8)::after {
      background-image: url("../../images/popular-eight-icon.svg");
      left: 16px;
      top: 12px;
      width: 28px;
      height: 34px;
    }
    &:nth-child(9)::after {
      background-image: url("../../images/popular-nine-icon.svg");
      left: 18px;
      top: 12px;
      width: 23px;
      height: 34px;
    }
    &:last-child::after {
      background-image: url("../../images/popular-ten-icon.svg");
      left: 14px;
      top: 15px;
      width: 32px;
      height: 32px;
    }
  }

  .popular-services-item-text-mobile {
    display: block;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: $primary-bold;
    height: 156px;

    .popular-services-item-title-mobile {
      position: absolute;
      width: 200px;
      top: 100px;
      padding: 0 20px 20px 20px;
    }

    .dotted-price {
      position: absolute;
      right: -190px;
      width: 45px;
      top: 10px;
      font-weight: normal;
    }
    .price {
      position: absolute;
      font-size: 16px;
      right: -200px;
      width: 60px;
      top: 27px;
      font-weight: normal;
    }
  }

  margin-bottom: 20px;
}
