@import "../variables";
@import "../mixins/media_queries";

.third-screen-content-wrapper {
  display: block;
  height: 816px;
  width: 100%;
  margin-top: -90px;
  margin-bottom: 217px;
  position: relative;

  @include breakpoint(tablet) {
    height: 655px;
    margin-bottom: 130px;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 381px;
  }

  @include breakpoint(mobile) {
    height: 646px;
  }

  .third-screen-content {
    background-image: url("../../images/background-bg.jpg");
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    @media screen and (max-width: 1440px) {
      background-image: url("../../images/background-sm.jpg");
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(
        80.33% 170.14% at 75.21% 22.19%,
        rgba(46, 136, 153, 0.4) 0%,
        rgba(46, 136, 153, 0.7) 29.57%
      );
      opacity: 0.48;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(
        80.33% 170.14% at 75.21% 22.19%,
        rgba(23, 29, 32, 0.4) 0%,
        #171d20 29.57%
      );
      opacity: 0.72;
    }

    .top {
      position: absolute;
      padding: 0px calc(20% - 139.2px) 0;
      height: 80px;
      top: 160px;
      z-index: 20;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include breakpoint(tablet) {
        height: 40px;
        top: 100px;
        padding: 0 calc(14px + 3.3%);
      }

      @include breakpoint(mobile) {
        padding: 0 10px 0px 16px;
      }

      img:first-child {
        height: 48px;

        @include breakpoint(tablet) {
          height: 32px;
        }
      }

      img:nth-child(2) {
        @include breakpoint(mobile) {
          display: none;
        }
      }

      &__underlogo-text {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        position: absolute;
        top: 78px;
        color: $white;
        width: 496px;
        white-space: pre-line;

        @include breakpoint(tablet) {
          font-size: 14px;
          top: 58px;
        }

        @include breakpoint(mobile) {
          top: 50px;
          width: 95%;
          padding: 0 16px 0 0px;
        }
      }
    }

    .bottom {
      position: relative;
      width: 320px;
      height: 91.92px;
      top: 400px;
      background: $primary-bold;
      z-index: 20;
      margin: 0px calc(20% - 139.2px) 0;

      @include breakpoint(tablet) {
        top: 260px;
        margin: 0 calc(14px + 3.3%);
      }

      @include breakpoint(mobile) {
        top: 275px;
        margin: 0 10px 0 16px;
      }

      &:hover {
        // filter: invert(1);
        background: $primary;
        transition: 1.1s;
      }

      .player {
        height: 100%;
        width: 50%;

        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;

          .video {
            top: 0;
            height: auto;
          }
          .play {
            position: absolute;
            top: 20px;
            left: 50px;
          }
        }
      }

      .tour {
        height: 100%;
        width: 50%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;

        .excursion {
          position: absolute;
          top: 20px;
          left: 20px;
          font-family: "Myriad Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          white-space: pre-line;
          color: $white;
          text-decoration: underline dotted;
        }
      }
    }

    .benefits-block {
      position: absolute;
      top: 560px;
      display: flex;
      justify-content: space-between;
      padding: 0px calc(20% - 139.2px) 0;
      width: 100%;
      z-index: 20;

      @include breakpoint(tablet) {
        top: 390px;
        padding: 0 calc(14px + 3.3%);
      }

      @include breakpoint(mobile) {
        top: 390px;
        padding: 0 16px 0 14px;
        flex-direction: column;
      }

      & > div {
        display: flex;

        @include breakpoint(tablet) {
          flex-direction: column;
        }

        @include breakpoint(mobile) {
          flex-direction: row;
          margin-bottom: 12px;
        }

        .first-benefit-image {
          margin-right: 23.88px;

          @include breakpoint(tablet) {
            width: 27.6px;
            height: 33.3px;
            margin-bottom: 15.33px;
          }
        }

        .second-benefit-image {
          margin-right: 29.7px;

          @include breakpoint(tablet) {
            width: 18.58px;
            height: 33.33px;
            margin-bottom: 17px;
          }
        }

        .third-benefit-image {
          margin-right: 16px;

          @include breakpoint(tablet) {
            width: 32.01px;
            height: 34.17px;
            margin-bottom: 15.33px;
          }
        }

        p {
          font-family: "Myriad Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $white;
          white-space: pre-line;

          @include breakpoint(tablet) {
            font-size: 14px;
          }
        }
      }
    }

    .search-analyzies-wrapper {
      padding: 0px calc(20% - 139.2px) 0;
      top: 695px;
      position: absolute;
      z-index: 20;
      width: 100%;

      @include breakpoint(tablet) {
        top: 520px;
        padding: 0 calc(14px + 3.3%);
      }

      @include breakpoint(search) {
        top: 550px;
        padding: 0 10px 0 16px;
      }

      @include breakpoint(mobile) {
        top: 590px;
      }

      .search-analyzies {
        height: 242px;
        background: $primary;
        margin: 0 auto;
        width: 1170px;
        display: flex;
        padding: 40px;

        @include breakpoint(search) {
          flex-wrap: wrap;
          height: 416px;
        }

        @media screen and(max-width: 1500px) {
          padding: calc(30px + 23.8 * (100vw - 992px) / 1440)
            calc(30px + 23.8 * (100vw - 992px) / 1440);
          width: 100%;
        }

        .left-block {
          display: flex;
          flex-direction: column;
          width: 38%;

          @include breakpoint(search) {
            width: 100%;
          }

          form {
            height: 48px;
            position: relative;
            width: 100%;

            @include breakpoint(search) {
              height: auto;
            }

            .search {
              width: 100%;
              height: 48px;
              font-family: "Myriad Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              padding: 16px 12px;
              color: $submenutext;
              border: none;
            }

            .search-icon {
              position: absolute;
              top: 13px;
              right: 15px;
            }
          }

          .text-description {
            display: flex;
            margin-top: 67px;
            justify-content: space-between;

            @include breakpoint(tablet) {
              margin-top: 24px;
            }

            @include breakpoint(search) {
              margin-top: 20px;
            }

            & > div {
              display: flex;
              font-family: "Myriad Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              color: $white;
              align-items: center;

              @include breakpoint(tablet) {
                flex-direction: column;
                align-items: self-start;
              }

              & > p:first-child {
                font-size: 40px;
                font-weight: bold;
                margin-right: 12px;

                @include breakpoint(tablet) {
                  font-size: 26px;
                  line-height: 36px;
                }
              }

              & > :last-child {
                font-size: 14px;
                white-space: pre-line;

                @include breakpoint(search) {
                  margin-bottom: 32px;
                }

                @include breakpoint(mobile) {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .diagnostic {
          display: flex;
          flex-direction: column;
          margin-left: 64px;

          @include breakpoint(tablet) {
            margin-left: 48px;
          }

          @include breakpoint(search) {
            margin-left: 0;
            width: 100%;
          }

          @include breakpoint(mobile) {
            margin-top: 32px;
          }

          &-title {
            font-family: "Gotham Pro bold", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 36px;
            color: $white;
            height: 48px;

            @include breakpoint(tablet) {
              font-size: 20px;
            }

            @include breakpoint(mobile) {
              line-height: 28px;
              height: auto;
            }
          }

          &-list {
            list-style-image: url("../../images/check.svg");
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 153px;
            margin-left: 20px;

            @include breakpoint(tablet) {
              margin-left: 10px;
            }

            @include breakpoint(search) {
              margin-left: 20px;
              width: 100%;
              align-items: baseline;
              align-content: space-between;
            }

            @include breakpoint(mobile) {
              flex-wrap: nowrap;
              height: auto;
            }

            &-item {
              font-family: "Myriad Pro", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;

              color: $white;
              margin-top: 16px;
              margin-right: 72px;

              @include breakpoint(tablet) {
                margin-right: calc(36px + 23.8 * (100vw - 992px) / 1440);
              }

              @include breakpoint(mobile) {
                margin-top: 12px;
              }

              @include breakpoint(mobile) {
                &:nth-child(5) ~ li {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
