@import "../variables";
@import "../fonts.scss";
@import "../mixins/media_queries";

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  transform: translateX(-130%);
  transition: all 0.5s;
}

.menu.active {
  transform: translateX(0%);
}

.menu.active > .blur {
  backdrop-filter: blur(2px);
}

.blur {
  width: 100vw;
  height: 100vh;
  left: 40%;
  position: absolute;
}

.menu__content {
  width: 40%;
  height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .menu__content {
    width: 100%;
  }
  .menu.active > .blur {
    backdrop-filter: none;
    width: 0;
  }
}

.nav {
  width: 100%;
  margin-top: 6px;
  background: $mobile-background;

  .nav-menu {
    list-style-type: none;

    .patient-block {
      display: none;

      .nav-menu-item-link:first-child > .nav-menu-item {
        border-top: none;

        &:first-child::after {
          display: none;
        }
      }
    }

    .patient-block.active {
      display: block;
    }

    .nav-menu-item-link {
      color: $submenutext;
      text-decoration: none;

      &:first-child > .nav-menu-item {
        border-top: 2px solid $primary;

        &:first-child::after {
          content: "";
          position: absolute;
          top: 16px;
          right: 26px;
          width: 16px;
          height: 18px;
          background-image: url("../../images/cabinet_mobile.svg");
          background-repeat: no-repeat;
        }
      }
    }

    .nav-menu-item {
      display: block;
      padding: 14px 20px;
      border-bottom: 1px solid $hoveritemlist;
      font-family: "Myriad Pro", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      color: $submenutext;
      cursor: pointer;

      &:hover {
        background: $hoveritemlist;
        color: $primary;
      }

      &:nth-child(5)::after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        width: 16px;
        height: 18px;
        background-image: url("../../images/right-arrow.svg");
        background-repeat: no-repeat;
        transition: 0.4s;
      }

      span {
        margin-left: 0;
      }
    }
    .nav-menu-item.active {
      font-weight: bold;
      background: $hoveritemlist;
      border-top: 2px solid $primary;
      position: relative;

      &::before {
        content: "";
        width: 18.33px;
        height: 14.67px;
        background-image: url("../../images/back-arrow.svg");
        top: 0;
        left: 0;
        position: absolute;
        top: 16px;
        left: 30px;
      }

      &::after {
        transition: 0.4s;
        transform: rotate(90deg);
      }

      span {
        margin-left: 40px;
      }
    }

    .nav-menu-item.hidden {
      display: none;
    }
  }
}

.contacts {
  width: 96%;
  margin: 20px 17px 0px;

  font-family: "Myriad Pro", sans-serif;

  .description {
    color: $secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
    margin-left: 40px;
  }

  .telephone,
  .email {
    display: flex;
    margin-bottom: 12.88px;
    a {
      color: $dark;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }

      .nubmer_mobile {
        font-family: "Myriad Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      .telephone_icon,
      .email_icon {
        margin-right: 13.62px;
      }
    }
  }
}

.appointment {
  width: 100%;
  height: 44px;
  border: 0;
  background: $orange;
  cursor: pointer;

  span {
    color: $white;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }

  &:hover {
    background: $orange-active;
  }
}
