@import "../../mixins/media_queries";
@import "../../variables";
// !!!!!! НИЖНИЙ БЛОК !!!!!!
.bottom_info {
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 11px calc(20% - 139.2px) 0;
  transition: all 0.3s;

  .search {
    position: relative;
    height: 48px;
    margin-left: -3px;
    margin-right: calc(60% - 485px);
    transition: all 0.4s;

    @include breakpoint(tablet) {
      height: 44px;
      width: 100%;
      margin-right: 0;
    }
    @include breakpoint(mobile) {
      padding-left: 0;
      height: 40px !important;
    }
    @include breakpoint(big) {
      margin-right: 0;
    }

    &.active {
      transition: all 0.4s;
      width: 100%;
      margin-right: 20px;
    }

    .index_search {
      width: 274px;
      height: 48px;
      background: $input-background;
      border: none;
      padding: 12px 16px;
      font-family: "Myriad Pro", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.6px;

      @include breakpoint(tablet) {
        height: 44px;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        padding-left: 16.82px;
      }

      @include breakpoint(mobile) {
        padding-left: 23.72px;
        padding-bottom: 15px;
      }

      &:hover {
        border: 1px solid $primary;
      }

      &.active {
        background: $white;
        transition: all 0.4s;
        width: 100%;
        border: 1px solid $orange;
      }
    }

    img {
      position: absolute;
      top: 15px;
      right: 17px;
      transition: all 0.4s;

      @include breakpoint(tablet) {
        top: 12px;
        right: 12px;
      }

      @include breakpoint(mobile) {
        top: 10px;
        right: 23px;
      }
    }
  }

  .search-results {
    margin-top: 4px;
    background: $white;
    font-family: "Myriad Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    overflow: hidden;

    .search-list {
      list-style-type: none;

    & > div {
        max-height: 200px!important;
      }
    }

    .search-list-item {
      padding: 8px 12px;

      cursor: pointer;

      &-title {
        text-decoration: none;
        color: $submenutext;
      }

      &:hover {
        background: $hoveritemlist;
      }
    }
  }

  .simplebar-scrollbar {
    background-color: $primary;
    width: 3px;
    left: 8px;
    overflow: auto;
    height: 100px;
  }
  .simplebar-track {
    overflow: visible;
  }


  .navbar {
    width: 100%;

    .navlist {
      height: 100%;
      list-style-type: none;
      display: flex;
      padding-top: 12px;

      .navlist-item {
        margin-right: calc(20% - 79px);
        position: relative;

        .navlist-item-link {
          text-decoration: none;
          font-family: "Gotham Pro bold", sans-serif;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.5px;
          color: $dark;
        }

        .arrow-list {
          margin-left: 5px;
        }

        .item-list {
          display: none;
          position: absolute;
          left: -49px;
          top: 48px;
          width: 210px;
          height: 240px;
          background: $itemlist;
          box-shadow: 0px 8px 16px rgba(83, 97, 106, 0.16);
          z-index: 20000;

          .patientmenu {
            list-style-type: none;
            letter-spacing: -0.7px;
            .patient-list {
              text-decoration: none;
              color: $submenutext;
              .patient-list-item {
                font-family: "Myriad Pro", sans-serif;
                padding: 15px 16px;
                &:hover {
                  background: $hoveritemlist;
                  color: $primary-bold;
                }
              }
            }
          }
        }

        @include breakpoint(big) {
          margin-right: 56px;
        }
      }
      .navlist-item:hover {
        border-bottom: 4px solid $orange;
      }
      .navlist-item:nth-child(4) {
        margin-right: calc(30% - 120px);
        @include breakpoint(big) {
          margin-right: 56px;
        }
      }
      .navlist-item:nth-child(4):hover > .item-list {
        display: block;
        transition: 1.2s;
      }
      .navlist-item:last-child {
        margin-right: -3px;
      }
      .navlist-item:nth-child(4)::after {
        content: "";
        display: block;
        background-image: url("../../../images/list-arrow.svg");
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        position: absolute;
        top: 5px;
        right: -21px;
        cursor: pointer;
        transition: 0.5s;
      }
      .navlist-item:nth-child(4):hover::after {
        transform: rotate(180deg);
        transition: 0.5s;
      }
      .navlist-item-link:hover {
        color: $orange;
      }
    }

    @include breakpoint(between) {
      display: none;
    }

    @include breakpoint(tablet) {
      display: none;
    }

    @include breakpoint(big) {
      width: auto;
    }
  }

  @include breakpoint(tablet) {
    margin: 0 calc(20px + 2.9%) 0;
    height: auto;
  }

  @include breakpoint(mobile) {
    margin: -14px calc(2px + 2.9%) 0;
  }
}

.bottom_info__mobile {
  height: 44px;
  width: 92%;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 10px 10px;
  padding: 0 0 0 5px;

  .search {
    position: relative;
    height: 44px;
    width: 100%;
    margin-right: 0;

    .index_search {
      width: 274px;
      height: 44px;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      padding-left: 9.22px;
      background: $input-background;
      border: none;
      font-family: "Myriad Pro", sans-serif;
      letter-spacing: -0.6px;
    }

    img {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}
