.container {
  margin: 41px calc(20% - 139.2px) 0;
  padding-top: 231px;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .container {
    padding-top: 130px;
    margin: 34px calc(14px + 3.3%);
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .container {
    margin: 23px 10px 0 10px;
  }
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

@media screen and (max-width: 992px) {
  .first-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.first-screen__left-banner {
  min-width: calc(100% - 771px);
  width: 372px;
  height: auto;
  max-height: 410px;
  background: #fefefe;
  margin-right: 17px;
}

@media screen and (max-width: 992px) {
  .first-screen__left-banner {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (min-width: 1441px) {
  .first-screen__left-banner {
    min-width: 40%;
    max-height: 100%;
  }
}

.first-screen .left-banner__content {
  height: 100%;
  padding: 30px 28px;
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content {
    padding: calc(16px + (14 + 14 * 0.7) * ((100vw - 992px) / 1440)) calc(21px + (14 + 14 * 0.7) * ((100vw - 992px) / 1440));
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content {
    padding: calc(37px + (2 + 2 * 0.7) * ((100vw - 992px) / 1440)) calc(33px + (2 + 2 * 0.7) * ((100vw - 992px) / 1440));
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .first-screen .left-banner__content {
    padding: 24px;
  }
}

.first-screen .left-banner__content .left-banner__title {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(14px + 13 * (100vw / 1840));
  line-height: 36px;
  color: #171d20;
  letter-spacing: 1.7px;
  padding-right: calc(44px + 73 * (100vw / 1840));
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content .left-banner__title {
    line-height: calc(27px + (12 + 12 * 0.7) * ((100vw - 992px) / 1440));
    padding-right: calc(10px + 11 * (100vw / 1840));
    font-size: calc(18px + (15 + 15 * 0.6) * ((100vw - 992px) / 1440));
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .left-banner__title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    margin-bottom: 17px;
  }
}

.first-screen .left-banner__content .left-banner__subtitle {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #171d20;
  margin: 16px 0;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content .left-banner__subtitle {
    line-height: calc(15px + (12 + 12 * 0.7) * ((100vw - 992px) / 1440));
    font-size: calc(16px + (15 + 15 * 0.6) * ((100vw - 992px) / 1440));
    margin: calc(11px + (13 + 13 * 0.4) * ((100vw - 992px) / 1440)) 0;
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .left-banner__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1450px) {
  .first-screen .left-banner__content .left-banner__subtitle {
    margin: 13px 0;
  }
}

.first-screen .left-banner__content .diagnostic-list {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 26px;
  color: #00a7b5;
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content .diagnostic-list {
    line-height: calc(17px + (12 + 12 * 0.7) * ((100vw - 992px) / 1440));
    margin-left: calc(17px + (12 + 12 * 0.7) * ((100vw - 992px) / 1440));
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .diagnostic-list {
    line-height: 20px;
    margin-left: 2px;
    height: 80px;
    -webkit-column-count: 2;
            column-count: 2;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 700px) {
  .first-screen .left-banner__content .diagnostic-list {
    -webkit-column-count: 1;
            column-count: 1;
    height: 100%;
  }
}

@media screen and (min-width: 1441px) {
  .first-screen .left-banner__content .diagnostic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 2400px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 345px;
  }
}

@media screen and (max-width: 2200px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 270px;
  }
}

@media screen and (max-width: 2000px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 250px;
  }
}

@media screen and (max-width: 1800px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 230px;
  }
}

@media screen and (max-width: 1700px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 230px;
  }
}

@media screen and (max-width: 1680px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 180px;
  }
}

@media screen and (max-width: 1600px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 160px;
  }
}

@media screen and (max-width: 1500px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 158px;
  }
}

@media screen and (max-width: 1350px) {
  .first-screen .left-banner__content .diagnostic-list {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 140px;
  }
}

@media screen and (max-width: 1100px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 130px;
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .diagnostic-list {
    height: 100%;
  }
}

.first-screen .left-banner__content .diagnostic-list .diagnostic-item {
  margin-bottom: 7.6px;
  letter-spacing: -0.6px;
  margin-left: 1px;
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .diagnostic-list .diagnostic-item {
    font-size: 14px;
    line-height: 20px;
    margin-left: 24px;
  }
}

.first-screen .left-banner__content .diagnostic-list .diagnostic-item .diagnostic-item-list {
  text-decoration: none;
  color: #00a7b5;
}

.first-screen .left-banner__content .diagnostic-list .diagnostic-item .diagnostic-item-list:hover {
  opacity: 0.5;
}

.first-screen .left-banner__content .diagnostic-list .diagnostic-item:last-child {
  margin-bottom: 15px;
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content .diagnostic-list .diagnostic-item:last-child {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 2000px) {
  .first-screen .left-banner__content .diagnostic-list .diagnostic-item:nth-child(7) ~ li {
    display: none;
  }
}

@media screen and (max-width: 1680px) {
  .first-screen .left-banner__content .diagnostic-list .diagnostic-item:nth-child(5) ~ li {
    display: none;
  }
}

.first-screen .left-banner__content .diagnostic-show-all {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #00a7b5;
  margin-left: 28px;
  letter-spacing: -0.6px;
}

.first-screen .left-banner__content .diagnostic-show-all:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1428px) {
  .first-screen .left-banner__content .diagnostic-show-all {
    margin-left: calc(1px + (10 * 0.6) * ((100vw - 992px) / 1440));
  }
}

@media screen and (max-width: 992px) {
  .first-screen .left-banner__content .diagnostic-show-all {
    margin-left: 27px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1441px) {
  .first-screen .left-banner__content .diagnostic-show-all {
    display: none;
  }
}

@media screen and (max-width: 2000px) {
  .first-screen .left-banner__content .diagnostic-show-all {
    display: block;
  }
}

.first-screen__right-slider {
  max-width: 754px;
  height: auto;
  position: relative;
  width: calc(100% - 389px);
}

@media screen and (max-width: 992px) {
  .first-screen__right-slider {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-width: 1441px) {
  .first-screen__right-slider {
    max-width: calc(60% - 17px);
  }
}

.first-screen__right-slider .desktop-banner {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .first-screen__right-slider .desktop-banner {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .first-screen__right-slider .desktop-banner {
    display: none;
  }
}

.first-screen__right-slider .mobile-banner {
  display: none;
}

@media (min-width: 0px) and (max-width: 530px) {
  .first-screen__right-slider .mobile-banner {
    display: block;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .first-screen {
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=analyzies.css.map */