.bottom_info {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 11px calc(20% - 139.2px) 0;
}

.bottom_info .search {
  position: relative;
  height: 48px;
  margin-left: -3px;
  margin-right: calc(60% - 485px);
}

@media screen and (max-width: 992px) {
  .bottom_info .search {
    height: 44px;
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .bottom_info .search {
    padding-left: 0;
  }
}

@media screen and (min-width: 1441px) {
  .bottom_info .search {
    margin-right: 0;
  }
}

.bottom_info .search .index_search {
  width: 274px;
  height: 48px;
  background: #f1f9fa;
  border: none;
  padding: 12px 16px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}

@media screen and (max-width: 992px) {
  .bottom_info .search .index_search {
    height: 44px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding-left: 16.82px;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .bottom_info .search .index_search {
    padding-left: 23.72px;
    padding-bottom: 15px;
  }
}

.bottom_info .search img {
  position: absolute;
  top: 15px;
  right: 17px;
}

@media screen and (max-width: 992px) {
  .bottom_info .search img {
    top: 12px;
    right: 12px;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .bottom_info .search img {
    top: 10px;
    right: 23px;
  }
}

.bottom_info .navbar {
  width: 100%;
}

.bottom_info .navbar .navlist {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}

.bottom_info .navbar .navlist .navlist-item {
  margin-right: calc(20% - 79px);
  position: relative;
}

.bottom_info .navbar .navlist .navlist-item .navlist-item-link {
  text-decoration: none;
  font-family: "Gotham Pro bold", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #171d20;
}

.bottom_info .navbar .navlist .navlist-item .arrow-list {
  margin-left: 5px;
}

.bottom_info .navbar .navlist .navlist-item .item-list {
  display: none;
  position: absolute;
  left: -49px;
  top: 48px;
  width: 210px;
  height: 240px;
  background: #fefefe;
  -webkit-box-shadow: 0px 8px 16px rgba(83, 97, 106, 0.16);
          box-shadow: 0px 8px 16px rgba(83, 97, 106, 0.16);
  z-index: 20000;
}

.bottom_info .navbar .navlist .navlist-item .item-list .patientmenu {
  list-style-type: none;
  letter-spacing: -0.7px;
}

.bottom_info .navbar .navlist .navlist-item .item-list .patientmenu .patient-list {
  text-decoration: none;
  color: #58595b;
}

.bottom_info .navbar .navlist .navlist-item .item-list .patientmenu .patient-list .patient-list-item {
  font-family: "Myriad Pro", sans-serif;
  padding: 15px 16px;
}

.bottom_info .navbar .navlist .navlist-item .item-list .patientmenu .patient-list .patient-list-item:hover {
  background: #ecf7f9;
  color: #2e8899;
}

@media screen and (min-width: 1441px) {
  .bottom_info .navbar .navlist .navlist-item {
    margin-right: 56px;
  }
}

.bottom_info .navbar .navlist .navlist-item:hover {
  border-bottom: 4px solid #f08646;
}

.bottom_info .navbar .navlist .navlist-item:nth-child(4) {
  margin-right: calc(30% - 120px);
}

@media screen and (min-width: 1441px) {
  .bottom_info .navbar .navlist .navlist-item:nth-child(4) {
    margin-right: 56px;
  }
}

.bottom_info .navbar .navlist .navlist-item:nth-child(4):hover > .item-list {
  display: block;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.bottom_info .navbar .navlist .navlist-item:last-child {
  margin-right: -3px;
}

.bottom_info .navbar .navlist .navlist-item:nth-child(4)::after {
  content: "";
  display: block;
  background-image: url("../../images/list-arrow.svg");
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: -21px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom_info .navbar .navlist .navlist-item:nth-child(4):hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom_info .navbar .navlist .navlist-item-link:hover {
  color: #f08646;
}

@media screen and (max-width: 992px) {
  .bottom_info .navbar {
    display: none;
  }
}

@media screen and (min-width: 1441px) {
  .bottom_info .navbar {
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .bottom_info {
    margin: 0 calc(20px + 2.9%) 0;
    height: auto;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .bottom_info {
    margin: -14px calc(2px + 2.9%) 0;
  }
}

.bottom_info__mobile {
  height: 44px;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 10px 10px 10px;
  padding: 0 0 0 5px;
}

.bottom_info__mobile .search {
  position: relative;
  height: 44px;
  width: 100%;
  margin-right: 0;
}

.bottom_info__mobile .search .index_search {
  width: 274px;
  height: 44px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  padding-left: 9.22px;
  background: #f1f9fa;
  border: none;
  font-family: "Myriad Pro", sans-serif;
  letter-spacing: -0.6px;
}

.bottom_info__mobile .search img {
  position: absolute;
  top: 12px;
  right: 12px;
}
/*# sourceMappingURL=bottom.css.map */