.center_info {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 23px calc(20% - 139.2px);
}

.center_info__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .center_info__left-block .lg-logo {
    display: none;
  }
}

.center_info__left-block .sm-logo {
  display: none;
}

@media screen and (max-width: 992px) {
  .center_info__left-block .sm-logo {
    display: block;
  }
}

.center_info__left-block .burger {
  width: 30px;
  margin-right: 18px;
  display: none;
}

.center_info__left-block .burger .burger-btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 60;
}

@media screen and (max-width: 992px) {
  .center_info__left-block .burger .burger-btn {
    display: block;
    margin-right: 29px;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info__left-block .burger .burger-btn {
    margin-right: 12px;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info__left-block .burger .burger-btn.active {
    margin-right: -30px;
  }
}

.center_info__left-block .burger .burger-btn::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 23px;
  background: #000;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center_info__left-block .burger .burger-btn::after {
  content: "";
  position: absolute;
  width: 23px;
  bottom: 7px;
  background: #000;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center_info__left-block .burger .burger-btn span {
  content: "";
  position: absolute;
  top: 13px;
  width: 16px;
  background: #000;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center_info__left-block .burger .burger-btn.active::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 23px;
  height: 2px;
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center_info__left-block .burger .burger-btn.active::after {
  content: "";
  position: absolute;
  width: 23px;
  bottom: 7px;
  height: 2px;
  -webkit-transform: rotate(-45deg) translate(7.6px, -6.5px);
          transform: rotate(-45deg) translate(7.6px, -6.5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center_info__left-block .burger .burger-btn.active span {
  content: "";
  position: absolute;
  top: 13px;
  width: 16px;
  height: 2px;
  -webkit-transform: rotate(-45deg) translate(6.6px, 1.5px);
          transform: rotate(-45deg) translate(6.6px, 1.5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  .center_info__left-block .burger {
    display: block;
  }
}

.center_info__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center_info__right-block .phone {
  margin-right: 38px;
}

@media screen and (max-width: 992px) {
  .center_info__right-block .phone {
    margin-right: 12.1px;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info__right-block .phone {
    display: none;
  }
}

.center_info__right-block .phone .phone__title {
  color: #959595;
  font-family: "Gotham Pro light", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.6px;
  font-weight: 200;
  text-align: right;
}

@media screen and (max-width: 992px) {
  .center_info__right-block .phone .phone__title {
    font-size: 12.8px;
    letter-spacing: 0.2px;
  }
}

.center_info__right-block .phone .phone__number {
  font-size: 24px;
  line-height: 28px;
  color: #00a7b5;
  text-decoration: none;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 992px) {
  .center_info__right-block .phone .phone__number {
    font-size: 17.8px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
}

.center_info__right-block .phone .phone__number .added {
  font-family: "Gotham Pro light", sans-serif;
}

.center_info__right-block .phone .phone__number .primary {
  font-family: "Gotham Pro bold", sans-serif;
  color: #2e8899;
}

.center_info__right-block .appointment {
  width: 222px;
  height: 48px;
  background: #f08646;
  padding: 14px 32px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: "Gotham Pro medium";
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .center_info__right-block .appointment {
    display: none;
  }
}

.center_info__right-block .appointment-mini {
  width: 44px;
  height: 44px;
  background-image: url("../../images/tablet-button.svg");
  border: none;
  cursor: pointer;
  display: none;
  margin: 0px -3px;
}

@media screen and (max-width: 992px) {
  .center_info__right-block .appointment-mini {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info__right-block .appointment-mini {
    margin: 0 1px;
  }
}

@media screen and (max-width: 992px) {
  .center_info {
    margin: calc(6.3px + 1.4%) calc(20px + 3%);
  }
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info {
    margin: 30px 20px;
  }
}

.center_info__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .center_info__mobile .center_info__left-block {
    margin-left: -23px;
  }
}

.center_info__mobile .center_info__left-block .sm-logo {
  margin-left: 70px;
}

@media (min-width: 0px) and (max-width: 530px) {
  .center_info__mobile .center_info__left-block .sm-logo {
    margin-left: 55px;
  }
}
/*# sourceMappingURL=middle.css.map */