@font-face {
  font-family: "Gotham Pro light";
  src: url("../fonts/gotham_pro/gothampro_light.ttf");
}

@font-face {
  font-family: "Gotham Pro bold";
  src: url("../fonts/gotham_pro/gothampro_bold.ttf");
}

@font-face {
  font-family: "Gotham Pro medium";
  src: url("../fonts/gotham_pro/gothampro_medium.ttf");
}

@font-face {
  font-family: "Myriad Pro bold";
  src: url("../fonts/Myriad_Pro/MYRIADPRO-BOLD.OTF");
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.menu.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu > .blur {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.menu.active > .blur {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  left: 40%;
}

.blur {
  width: 100vw;
  height: 100vh;
  left: 0%;
  position: absolute;
}

.menu__content {
  width: 40%;
  height: 100vh;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 10px;
  overflow: auto;
  padding-top: 120px;
}

@media screen and (max-width: 992px) {
  .menu__content {
    width: 100%;
  }
  .menu.active > .blur {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    width: 0;
  }
}

.nav {
  width: 100%;
  margin-top: 12px;
  background: #f9fdfd;
}

.nav .nav-menu {
  list-style-type: none;
}

.nav .nav-menu .patient-block {
  display: none;
}

.nav .nav-menu .patient-block .nav-menu-item-link:first-child > .nav-menu-item {
  border-top: none;
}

.nav .nav-menu .patient-block .nav-menu-item-link:first-child > .nav-menu-item:first-child::after {
  display: none;
}

.nav .nav-menu .patient-block.active {
  display: block;
}

.nav .nav-menu .nav-menu-item-link {
  color: #58595b;
  text-decoration: none;
}

.nav .nav-menu .nav-menu-item-link:first-child > .nav-menu-item {
  border-top: 2px solid #00a7b5;
}

.nav .nav-menu .nav-menu-item-link:first-child > .nav-menu-item:first-child::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 26px;
  width: 16px;
  height: 18px;
  background-image: url("../../images/cabinet_mobile.svg");
  background-repeat: no-repeat;
}

.nav .nav-menu .nav-menu-item {
  display: block;
  padding: 14px 20px;
  border-bottom: 1px solid #ecf7f9;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  color: #58595b;
  cursor: pointer;
}

.nav .nav-menu .nav-menu-item:hover {
  background: #ecf7f9;
  color: #00a7b5;
}

.nav .nav-menu .nav-menu-item:nth-child(5)::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 18px;
  background-image: url("../../images/right-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav .nav-menu .nav-menu-item span {
  margin-left: 0;
}

.nav .nav-menu .nav-menu-item.active {
  font-weight: bold;
  background: #ecf7f9;
  border-top: 2px solid #00a7b5;
  position: relative;
}

.nav .nav-menu .nav-menu-item.active::before {
  content: "";
  width: 18.33px;
  height: 14.67px;
  background-image: url("../../images/back-arrow.svg");
  top: 0;
  left: 0;
  position: absolute;
  top: 16px;
  left: 30px;
}

.nav .nav-menu .nav-menu-item.active::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav .nav-menu .nav-menu-item.active span {
  margin-left: 40px;
}

.nav .nav-menu .nav-menu-item.hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    padding-top: 13px;
  }
}

.contacts {
  width: 96%;
  margin: 20px 7px 0px;
  font-family: "Myriad Pro", sans-serif;
}

.contacts .description {
  color: #959595;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
  margin-left: 40px;
}

.contacts .telephone,
.contacts .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12.88px;
}

.contacts .telephone a,
.contacts .email a {
  color: #171d20;
  font-weight: 600;
  text-decoration: none;
}

.contacts .telephone a:hover,
.contacts .email a:hover {
  color: #959595;
}

.contacts .telephone a .nubmer_mobile,
.contacts .email a .nubmer_mobile {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.contacts .telephone a .telephone_icon,
.contacts .telephone a .email_icon,
.contacts .email a .telephone_icon,
.contacts .email a .email_icon {
  margin-right: 13.62px;
}

.appointment {
  width: 100%;
  height: 44px;
  border: 0;
  background: #f08646;
  cursor: pointer;
}

.appointment span {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.appointment:hover {
  background: #e45b26;
}
/*# sourceMappingURL=menu.css.map */