@charset "UTF-8";
@import url(c:\Users\comed\Desktop\Новая папка (2)\euro-lab\src\assets\scss\secondScreen\swiper-bundle.css);
@import url(c:\Users\comed\Desktop\Новая папка (2)\euro-lab\src\assets\scss\secondScreen\swiper.min.css);
.popular {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.popular .popular-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.popular .popular-header__title {
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .popular .popular-header__title {
    font-size: 20px;
    line-height: 28px;
  }
}

.popular .popular-header__category-link {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #00a7b5;
}

.popular .popular-header__category-link:hover {
  opacity: 0.5;
}

@media (min-width: 0px) and (max-width: 530px) {
  .popular .popular-header__category-link {
    margin-top: 2px;
  }
}

.popular-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
      grid-template-areas: "first   second   third" "fourth     fifth     third" "six   seven   eight" "nine   ten    eight";
}

.popular-services-item {
  width: 100%;
  height: 216px;
  background: white;
  position: relative;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
  cursor: pointer;
}

.popular-services-item .block-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-clip-path: circle(2% at 50px 50px);
          clip-path: circle(2% at 50px 50px);
  overflow: hidden;
  z-index: -20;
  background: #2e8899;
}

.popular-services-item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  width: 56px;
  height: 56px;
  background: #00a7b5;
  border-radius: 50%;
  z-index: 100;
}

.popular-services-item:hover > div {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-clip-path: circle(140% at 24px 24px);
          clip-path: circle(140% at 24px 24px);
}

.popular-services-item:hover .popular-services-item-hovered {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  display: block;
  opacity: 1;
}

.popular-services-item:hover::before {
  background: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.popular-services-item:hover::after {
  -webkit-filter: invert(52%) sepia(77%) saturate(4198%) hue-rotate(155deg) brightness(95%) contrast(101%);
          filter: invert(52%) sepia(77%) saturate(4198%) hue-rotate(155deg) brightness(95%) contrast(101%);
}

.popular-services-item:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.popular-services-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.popular-services-item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: third;
  height: 100%;
}

.popular-services-item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fourth;
}

.popular-services-item:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fifth;
}

.popular-services-item:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: third;
  height: 100%;
}

.popular-services-item:nth-child(6) .popular-services-item-text {
  top: 360px;
}

.popular-services-item:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: six;
}

.popular-services-item:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: seven;
}

.popular-services-item:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: eight;
}

.popular-services-item:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: nine;
}

.popular-services-item:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: ten;
}

.popular-services-item:last-child {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: eight;
  height: 100%;
}

.popular-services-item:last-child .popular-services-item-text {
  top: 360px;
}

.popular-services-item::after {
  content: "";
  position: absolute;
  z-index: 200;
}

.popular-services-item:first-child::after {
  background-image: url("../../images/popular-first-icon.svg");
  top: 36px;
  left: 36px;
  width: 32px;
  height: 32px;
}

.popular-services-item:nth-child(2)::after {
  background-image: url("../../images/popular-second-icon.svg");
  top: 38px;
  left: 34px;
  width: 34px;
  height: 25.98px;
}

.popular-services-item:nth-child(6)::after {
  background-color: #fff;
  -webkit-mask-image: url("../../images/popular-third-icon.svg");
          mask-image: url("../../images/popular-third-icon.svg");
  top: 39px;
  left: 38px;
  width: 26px;
  height: 25.98px;
}

.popular-services-item:nth-child(4)::after {
  background-image: url("../../images/popular-fourth-icon.svg");
  top: 36px;
  left: 35px;
  width: 34px;
  height: 32px;
}

.popular-services-item:nth-child(5)::after {
  background-image: url("../../images/popular-fifth-icon.svg");
  top: 35px;
  left: 38.2px;
  width: 25.98px;
  height: 32px;
}

.popular-services-item:nth-child(7)::after {
  background-image: url("../../images/popular-sixth-icon.svg");
  top: 42px;
  left: 37px;
  width: 32px;
  height: 22.3px;
}

.popular-services-item:nth-child(8)::after {
  background-image: url("../../images/popular-seventh-icon.svg");
  top: 35px;
  left: 37px;
  width: 30.69px;
  height: 34px;
}

.popular-services-item:nth-child(10)::after {
  background-image: url("../../images/popular-nine-icon.svg");
  top: 36px;
  left: 40.2px;
  width: 22.36px;
  height: 32px;
}

.popular-services-item:nth-child(11)::after {
  background-image: url("../../images/popular-ten-icon.svg");
  top: 38px;
  left: 35px;
  width: 31.97px;
  height: 32px;
}

.popular-services-item:last-child::after {
  background-image: url("../../images/popular-eight-icon.svg");
  top: 35px;
  left: 38px;
  width: 25.45px;
  height: 34px;
}

.popular-services-item-text {
  font-size: 18px;
  line-height: 26px;
  color: #2e8899;
  font-weight: bold;
  position: absolute;
  top: 140px;
  padding: 0 24px;
}

.popular-services-item:nth-child(6) .popular-services-item-hovered-title, .popular-services-item:last-child .popular-services-item-hovered-title {
  top: 333px !important;
  height: 100% !important;
}

.popular-services-item:nth-child(6) .popular-services-item-hovered-subtitle, .popular-services-item:last-child .popular-services-item-hovered-subtitle {
  top: 385px !important;
  height: 100% !important;
}

@media screen and (max-width: 1120px) {
  .popular-services-item:nth-child(6) .popular-services-item-hovered-title, .popular-services-item:last-child .popular-services-item-hovered-title {
    top: 283px !important;
  }
  .popular-services-item:nth-child(6) .popular-services-item-hovered-subtitle, .popular-services-item:last-child .popular-services-item-hovered-subtitle {
    top: 365px !important;
  }
}

.popular-services .popular-services-item-hovered {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popular-services .popular-services-item-hovered p.dotted-price {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

.popular-services .popular-services-item-hovered p.price {
  position: absolute;
  top: 44px;
  right: 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
}

.popular-services .popular-services-item-hovered .popular-services-item-hovered-title {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 110px;
  padding: 0 24px;
}

@media screen and (max-width: 1100px) {
  .popular-services .popular-services-item-hovered .popular-services-item-hovered-title {
    top: 90px;
  }
}

.popular-services .popular-services-item-hovered .popular-services-item-hovered-title ~ p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
  position: absolute;
  top: 160px;
  padding: 0 24px;
}

@media screen and (max-width: 1100px) {
  .popular-services .popular-services-item-hovered .popular-services-item-hovered-title ~ p {
    top: 140px;
  }
}

@media screen and (max-width: 992px) {
  .popular-services {
    display: none;
  }
}
/*# sourceMappingURL=popular.css.map */