.popular-services-mobile {
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .popular-services-mobile {
    display: block;
    height: 100%;
  }
}

.popular-services-mobile .popular-services-item-mobile {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
  cursor: pointer;
}

.popular-services-mobile .popular-services-item-mobile::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: #2e8899;
  border-radius: 50%;
  z-index: 100;
}

.popular-services-mobile .swiper-slide {
  width: 200px;
  height: 156px;
  background: #ffffff;
}

.popular-services-mobile .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 200;
  top: 14px;
  left: 14px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.popular-services-mobile .swiper-slide:first-child::after {
  background-image: url("../../images/popular-first-icon.svg");
  top: 14px;
  left: 14px;
  width: 32px;
  height: 32px;
}

.popular-services-mobile .swiper-slide:nth-child(2)::after {
  background-image: url("../../images/popular-second-icon.svg");
  left: 12px;
  top: 15px;
  width: 34px;
  height: 25.98px;
}

.popular-services-mobile .swiper-slide:nth-child(3)::after {
  background-color: #fff;
  -webkit-mask-image: url("../../images/popular-third-icon.svg");
          mask-image: url("../../images/popular-third-icon.svg");
  left: 16px;
  top: 17px;
  width: 26px;
  height: 25.98px;
}

.popular-services-mobile .swiper-slide:nth-child(4)::after {
  background-image: url("../../images/popular-fourth-icon.svg");
  left: 12px;
  top: 15px;
  width: 34px;
  height: 34px;
}

.popular-services-mobile .swiper-slide:nth-child(5)::after {
  background-image: url("../../images/popular-fifth-icon.svg");
  left: 16px;
  top: 14px;
  width: 25.98px;
  height: 32px;
}

.popular-services-mobile .swiper-slide:nth-child(6)::after {
  background-image: url("../../images/popular-sixth-icon.svg");
  left: 14px;
  top: 20px;
  width: 32px;
  height: 22.3px;
}

.popular-services-mobile .swiper-slide:nth-child(7)::after {
  background-image: url("../../images/popular-seventh-icon.svg");
  left: 16px;
  top: 12px;
  width: 32px;
  height: 36px;
}

.popular-services-mobile .swiper-slide:nth-child(8)::after {
  background-image: url("../../images/popular-eight-icon.svg");
  left: 16px;
  top: 12px;
  width: 28px;
  height: 34px;
}

.popular-services-mobile .swiper-slide:nth-child(9)::after {
  background-image: url("../../images/popular-nine-icon.svg");
  left: 18px;
  top: 12px;
  width: 23px;
  height: 34px;
}

.popular-services-mobile .swiper-slide:last-child::after {
  background-image: url("../../images/popular-ten-icon.svg");
  left: 14px;
  top: 15px;
  width: 32px;
  height: 32px;
}

.popular-services-mobile .popular-services-item-text-mobile {
  display: block;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #2e8899;
  height: 156px;
}

.popular-services-mobile .popular-services-item-text-mobile .popular-services-item-title-mobile {
  position: absolute;
  width: 200px;
  top: 100px;
  padding: 0 20px 20px 20px;
}

.popular-services-mobile .popular-services-item-text-mobile .dotted-price {
  position: absolute;
  right: -190px;
  width: 45px;
  top: 10px;
  font-weight: normal;
}

.popular-services-mobile .popular-services-item-text-mobile .price {
  position: absolute;
  font-size: 16px;
  right: -200px;
  width: 60px;
  top: 27px;
  font-weight: normal;
}
/*# sourceMappingURL=popularMobile.css.map */